<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <h1> {{title}}  </h1>
</head>
<body>
    

<form action="/products/update/{{data.id}}" method="POST" class="form-group" >
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" value={{data.name}} name="name" />
    </div>
    <br>
    <div class="col">
      <input type="text" class="form-control" name='address' value={{data.address}} placeholder="Address">
    </div>
<br>
    <div class="col">
      <input type="text" class="form-control" name = 'price' value={{data.price}} placeholder="price">
    </div>
    <br>
    <button> ADD ITEMS </button>
  </div>
</form>

</body>
</html>